<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2020 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.appops.cts.appwithtoomanyattributions">

  <!-- 10000 attributions are allowed -->
  <attribution android:tag="f0" android:label="@string/dummyLabel" />
  <attribution android:tag="f1" android:label="@string/dummyLabel" />
  <attribution android:tag="f2" android:label="@string/dummyLabel" />
  <attribution android:tag="f3" android:label="@string/dummyLabel" />
  <attribution android:tag="f4" android:label="@string/dummyLabel" />
  <attribution android:tag="f5" android:label="@string/dummyLabel" />
  <attribution android:tag="f6" android:label="@string/dummyLabel" />
  <attribution android:tag="f7" android:label="@string/dummyLabel" />
  <attribution android:tag="f8" android:label="@string/dummyLabel" />
  <attribution android:tag="f9" android:label="@string/dummyLabel" />
  <attribution android:tag="f10" android:label="@string/dummyLabel" />
  <attribution android:tag="f11" android:label="@string/dummyLabel" />
  <attribution android:tag="f12" android:label="@string/dummyLabel" />
  <attribution android:tag="f13" android:label="@string/dummyLabel" />
  <attribution android:tag="f14" android:label="@string/dummyLabel" />
  <attribution android:tag="f15" android:label="@string/dummyLabel" />
  <attribution android:tag="f16" android:label="@string/dummyLabel" />
  <attribution android:tag="f17" android:label="@string/dummyLabel" />
  <attribution android:tag="f18" android:label="@string/dummyLabel" />
  <attribution android:tag="f19" android:label="@string/dummyLabel" />
  <attribution android:tag="f20" android:label="@string/dummyLabel" />
  <attribution android:tag="f21" android:label="@string/dummyLabel" />
  <attribution android:tag="f22" android:label="@string/dummyLabel" />
  <attribution android:tag="f23" android:label="@string/dummyLabel" />
  <attribution android:tag="f24" android:label="@string/dummyLabel" />
  <attribution android:tag="f25" android:label="@string/dummyLabel" />
  <attribution android:tag="f26" android:label="@string/dummyLabel" />
  <attribution android:tag="f27" android:label="@string/dummyLabel" />
  <attribution android:tag="f28" android:label="@string/dummyLabel" />
  <attribution android:tag="f29" android:label="@string/dummyLabel" />
  <attribution android:tag="f30" android:label="@string/dummyLabel" />
  <attribution android:tag="f31" android:label="@string/dummyLabel" />
  <attribution android:tag="f32" android:label="@string/dummyLabel" />
  <attribution android:tag="f33" android:label="@string/dummyLabel" />
  <attribution android:tag="f34" android:label="@string/dummyLabel" />
  <attribution android:tag="f35" android:label="@string/dummyLabel" />
  <attribution android:tag="f36" android:label="@string/dummyLabel" />
  <attribution android:tag="f37" android:label="@string/dummyLabel" />
  <attribution android:tag="f38" android:label="@string/dummyLabel" />
  <attribution android:tag="f39" android:label="@string/dummyLabel" />
  <attribution android:tag="f40" android:label="@string/dummyLabel" />
  <attribution android:tag="f41" android:label="@string/dummyLabel" />
  <attribution android:tag="f42" android:label="@string/dummyLabel" />
  <attribution android:tag="f43" android:label="@string/dummyLabel" />
  <attribution android:tag="f44" android:label="@string/dummyLabel" />
  <attribution android:tag="f45" android:label="@string/dummyLabel" />
  <attribution android:tag="f46" android:label="@string/dummyLabel" />
  <attribution android:tag="f47" android:label="@string/dummyLabel" />
  <attribution android:tag="f48" android:label="@string/dummyLabel" />
  <attribution android:tag="f49" android:label="@string/dummyLabel" />
  <attribution android:tag="f50" android:label="@string/dummyLabel" />
  <attribution android:tag="f51" android:label="@string/dummyLabel" />
  <attribution android:tag="f52" android:label="@string/dummyLabel" />
  <attribution android:tag="f53" android:label="@string/dummyLabel" />
  <attribution android:tag="f54" android:label="@string/dummyLabel" />
  <attribution android:tag="f55" android:label="@string/dummyLabel" />
  <attribution android:tag="f56" android:label="@string/dummyLabel" />
  <attribution android:tag="f57" android:label="@string/dummyLabel" />
  <attribution android:tag="f58" android:label="@string/dummyLabel" />
  <attribution android:tag="f59" android:label="@string/dummyLabel" />
  <attribution android:tag="f60" android:label="@string/dummyLabel" />
  <attribution android:tag="f61" android:label="@string/dummyLabel" />
  <attribution android:tag="f62" android:label="@string/dummyLabel" />
  <attribution android:tag="f63" android:label="@string/dummyLabel" />
  <attribution android:tag="f64" android:label="@string/dummyLabel" />
  <attribution android:tag="f65" android:label="@string/dummyLabel" />
  <attribution android:tag="f66" android:label="@string/dummyLabel" />
  <attribution android:tag="f67" android:label="@string/dummyLabel" />
  <attribution android:tag="f68" android:label="@string/dummyLabel" />
  <attribution android:tag="f69" android:label="@string/dummyLabel" />
  <attribution android:tag="f70" android:label="@string/dummyLabel" />
  <attribution android:tag="f71" android:label="@string/dummyLabel" />
  <attribution android:tag="f72" android:label="@string/dummyLabel" />
  <attribution android:tag="f73" android:label="@string/dummyLabel" />
  <attribution android:tag="f74" android:label="@string/dummyLabel" />
  <attribution android:tag="f75" android:label="@string/dummyLabel" />
  <attribution android:tag="f76" android:label="@string/dummyLabel" />
  <attribution android:tag="f77" android:label="@string/dummyLabel" />
  <attribution android:tag="f78" android:label="@string/dummyLabel" />
  <attribution android:tag="f79" android:label="@string/dummyLabel" />
  <attribution android:tag="f80" android:label="@string/dummyLabel" />
  <attribution android:tag="f81" android:label="@string/dummyLabel" />
  <attribution android:tag="f82" android:label="@string/dummyLabel" />
  <attribution android:tag="f83" android:label="@string/dummyLabel" />
  <attribution android:tag="f84" android:label="@string/dummyLabel" />
  <attribution android:tag="f85" android:label="@string/dummyLabel" />
  <attribution android:tag="f86" android:label="@string/dummyLabel" />
  <attribution android:tag="f87" android:label="@string/dummyLabel" />
  <attribution android:tag="f88" android:label="@string/dummyLabel" />
  <attribution android:tag="f89" android:label="@string/dummyLabel" />
  <attribution android:tag="f90" android:label="@string/dummyLabel" />
  <attribution android:tag="f91" android:label="@string/dummyLabel" />
  <attribution android:tag="f92" android:label="@string/dummyLabel" />
  <attribution android:tag="f93" android:label="@string/dummyLabel" />
  <attribution android:tag="f94" android:label="@string/dummyLabel" />
  <attribution android:tag="f95" android:label="@string/dummyLabel" />
  <attribution android:tag="f96" android:label="@string/dummyLabel" />
  <attribution android:tag="f97" android:label="@string/dummyLabel" />
  <attribution android:tag="f98" android:label="@string/dummyLabel" />
  <attribution android:tag="f99" android:label="@string/dummyLabel" />
  <attribution android:tag="f100" android:label="@string/dummyLabel" />
  <attribution android:tag="f101" android:label="@string/dummyLabel" />
  <attribution android:tag="f102" android:label="@string/dummyLabel" />
  <attribution android:tag="f103" android:label="@string/dummyLabel" />
  <attribution android:tag="f104" android:label="@string/dummyLabel" />
  <attribution android:tag="f105" android:label="@string/dummyLabel" />
  <attribution android:tag="f106" android:label="@string/dummyLabel" />
  <attribution android:tag="f107" android:label="@string/dummyLabel" />
  <attribution android:tag="f108" android:label="@string/dummyLabel" />
  <attribution android:tag="f109" android:label="@string/dummyLabel" />
  <attribution android:tag="f110" android:label="@string/dummyLabel" />
  <attribution android:tag="f111" android:label="@string/dummyLabel" />
  <attribution android:tag="f112" android:label="@string/dummyLabel" />
  <attribution android:tag="f113" android:label="@string/dummyLabel" />
  <attribution android:tag="f114" android:label="@string/dummyLabel" />
  <attribution android:tag="f115" android:label="@string/dummyLabel" />
  <attribution android:tag="f116" android:label="@string/dummyLabel" />
  <attribution android:tag="f117" android:label="@string/dummyLabel" />
  <attribution android:tag="f118" android:label="@string/dummyLabel" />
  <attribution android:tag="f119" android:label="@string/dummyLabel" />
  <attribution android:tag="f120" android:label="@string/dummyLabel" />
  <attribution android:tag="f121" android:label="@string/dummyLabel" />
  <attribution android:tag="f122" android:label="@string/dummyLabel" />
  <attribution android:tag="f123" android:label="@string/dummyLabel" />
  <attribution android:tag="f124" android:label="@string/dummyLabel" />
  <attribution android:tag="f125" android:label="@string/dummyLabel" />
  <attribution android:tag="f126" android:label="@string/dummyLabel" />
  <attribution android:tag="f127" android:label="@string/dummyLabel" />
  <attribution android:tag="f128" android:label="@string/dummyLabel" />
  <attribution android:tag="f129" android:label="@string/dummyLabel" />
  <attribution android:tag="f130" android:label="@string/dummyLabel" />
  <attribution android:tag="f131" android:label="@string/dummyLabel" />
  <attribution android:tag="f132" android:label="@string/dummyLabel" />
  <attribution android:tag="f133" android:label="@string/dummyLabel" />
  <attribution android:tag="f134" android:label="@string/dummyLabel" />
  <attribution android:tag="f135" android:label="@string/dummyLabel" />
  <attribution android:tag="f136" android:label="@string/dummyLabel" />
  <attribution android:tag="f137" android:label="@string/dummyLabel" />
  <attribution android:tag="f138" android:label="@string/dummyLabel" />
  <attribution android:tag="f139" android:label="@string/dummyLabel" />
  <attribution android:tag="f140" android:label="@string/dummyLabel" />
  <attribution android:tag="f141" android:label="@string/dummyLabel" />
  <attribution android:tag="f142" android:label="@string/dummyLabel" />
  <attribution android:tag="f143" android:label="@string/dummyLabel" />
  <attribution android:tag="f144" android:label="@string/dummyLabel" />
  <attribution android:tag="f145" android:label="@string/dummyLabel" />
  <attribution android:tag="f146" android:label="@string/dummyLabel" />
  <attribution android:tag="f147" android:label="@string/dummyLabel" />
  <attribution android:tag="f148" android:label="@string/dummyLabel" />
  <attribution android:tag="f149" android:label="@string/dummyLabel" />
  <attribution android:tag="f150" android:label="@string/dummyLabel" />
  <attribution android:tag="f151" android:label="@string/dummyLabel" />
  <attribution android:tag="f152" android:label="@string/dummyLabel" />
  <attribution android:tag="f153" android:label="@string/dummyLabel" />
  <attribution android:tag="f154" android:label="@string/dummyLabel" />
  <attribution android:tag="f155" android:label="@string/dummyLabel" />
  <attribution android:tag="f156" android:label="@string/dummyLabel" />
  <attribution android:tag="f157" android:label="@string/dummyLabel" />
  <attribution android:tag="f158" android:label="@string/dummyLabel" />
  <attribution android:tag="f159" android:label="@string/dummyLabel" />
  <attribution android:tag="f160" android:label="@string/dummyLabel" />
  <attribution android:tag="f161" android:label="@string/dummyLabel" />
  <attribution android:tag="f162" android:label="@string/dummyLabel" />
  <attribution android:tag="f163" android:label="@string/dummyLabel" />
  <attribution android:tag="f164" android:label="@string/dummyLabel" />
  <attribution android:tag="f165" android:label="@string/dummyLabel" />
  <attribution android:tag="f166" android:label="@string/dummyLabel" />
  <attribution android:tag="f167" android:label="@string/dummyLabel" />
  <attribution android:tag="f168" android:label="@string/dummyLabel" />
  <attribution android:tag="f169" android:label="@string/dummyLabel" />
  <attribution android:tag="f170" android:label="@string/dummyLabel" />
  <attribution android:tag="f171" android:label="@string/dummyLabel" />
  <attribution android:tag="f172" android:label="@string/dummyLabel" />
  <attribution android:tag="f173" android:label="@string/dummyLabel" />
  <attribution android:tag="f174" android:label="@string/dummyLabel" />
  <attribution android:tag="f175" android:label="@string/dummyLabel" />
  <attribution android:tag="f176" android:label="@string/dummyLabel" />
  <attribution android:tag="f177" android:label="@string/dummyLabel" />
  <attribution android:tag="f178" android:label="@string/dummyLabel" />
  <attribution android:tag="f179" android:label="@string/dummyLabel" />
  <attribution android:tag="f180" android:label="@string/dummyLabel" />
  <attribution android:tag="f181" android:label="@string/dummyLabel" />
  <attribution android:tag="f182" android:label="@string/dummyLabel" />
  <attribution android:tag="f183" android:label="@string/dummyLabel" />
  <attribution android:tag="f184" android:label="@string/dummyLabel" />
  <attribution android:tag="f185" android:label="@string/dummyLabel" />
  <attribution android:tag="f186" android:label="@string/dummyLabel" />
  <attribution android:tag="f187" android:label="@string/dummyLabel" />
  <attribution android:tag="f188" android:label="@string/dummyLabel" />
  <attribution android:tag="f189" android:label="@string/dummyLabel" />
  <attribution android:tag="f190" android:label="@string/dummyLabel" />
  <attribution android:tag="f191" android:label="@string/dummyLabel" />
  <attribution android:tag="f192" android:label="@string/dummyLabel" />
  <attribution android:tag="f193" android:label="@string/dummyLabel" />
  <attribution android:tag="f194" android:label="@string/dummyLabel" />
  <attribution android:tag="f195" android:label="@string/dummyLabel" />
  <attribution android:tag="f196" android:label="@string/dummyLabel" />
  <attribution android:tag="f197" android:label="@string/dummyLabel" />
  <attribution android:tag="f198" android:label="@string/dummyLabel" />
  <attribution android:tag="f199" android:label="@string/dummyLabel" />
  <attribution android:tag="f200" android:label="@string/dummyLabel" />
  <attribution android:tag="f201" android:label="@string/dummyLabel" />
  <attribution android:tag="f202" android:label="@string/dummyLabel" />
  <attribution android:tag="f203" android:label="@string/dummyLabel" />
  <attribution android:tag="f204" android:label="@string/dummyLabel" />
  <attribution android:tag="f205" android:label="@string/dummyLabel" />
  <attribution android:tag="f206" android:label="@string/dummyLabel" />
  <attribution android:tag="f207" android:label="@string/dummyLabel" />
  <attribution android:tag="f208" android:label="@string/dummyLabel" />
  <attribution android:tag="f209" android:label="@string/dummyLabel" />
  <attribution android:tag="f210" android:label="@string/dummyLabel" />
  <attribution android:tag="f211" android:label="@string/dummyLabel" />
  <attribution android:tag="f212" android:label="@string/dummyLabel" />
  <attribution android:tag="f213" android:label="@string/dummyLabel" />
  <attribution android:tag="f214" android:label="@string/dummyLabel" />
  <attribution android:tag="f215" android:label="@string/dummyLabel" />
  <attribution android:tag="f216" android:label="@string/dummyLabel" />
  <attribution android:tag="f217" android:label="@string/dummyLabel" />
  <attribution android:tag="f218" android:label="@string/dummyLabel" />
  <attribution android:tag="f219" android:label="@string/dummyLabel" />
  <attribution android:tag="f220" android:label="@string/dummyLabel" />
  <attribution android:tag="f221" android:label="@string/dummyLabel" />
  <attribution android:tag="f222" android:label="@string/dummyLabel" />
  <attribution android:tag="f223" android:label="@string/dummyLabel" />
  <attribution android:tag="f224" android:label="@string/dummyLabel" />
  <attribution android:tag="f225" android:label="@string/dummyLabel" />
  <attribution android:tag="f226" android:label="@string/dummyLabel" />
  <attribution android:tag="f227" android:label="@string/dummyLabel" />
  <attribution android:tag="f228" android:label="@string/dummyLabel" />
  <attribution android:tag="f229" android:label="@string/dummyLabel" />
  <attribution android:tag="f230" android:label="@string/dummyLabel" />
  <attribution android:tag="f231" android:label="@string/dummyLabel" />
  <attribution android:tag="f232" android:label="@string/dummyLabel" />
  <attribution android:tag="f233" android:label="@string/dummyLabel" />
  <attribution android:tag="f234" android:label="@string/dummyLabel" />
  <attribution android:tag="f235" android:label="@string/dummyLabel" />
  <attribution android:tag="f236" android:label="@string/dummyLabel" />
  <attribution android:tag="f237" android:label="@string/dummyLabel" />
  <attribution android:tag="f238" android:label="@string/dummyLabel" />
  <attribution android:tag="f239" android:label="@string/dummyLabel" />
  <attribution android:tag="f240" android:label="@string/dummyLabel" />
  <attribution android:tag="f241" android:label="@string/dummyLabel" />
  <attribution android:tag="f242" android:label="@string/dummyLabel" />
  <attribution android:tag="f243" android:label="@string/dummyLabel" />
  <attribution android:tag="f244" android:label="@string/dummyLabel" />
  <attribution android:tag="f245" android:label="@string/dummyLabel" />
  <attribution android:tag="f246" android:label="@string/dummyLabel" />
  <attribution android:tag="f247" android:label="@string/dummyLabel" />
  <attribution android:tag="f248" android:label="@string/dummyLabel" />
  <attribution android:tag="f249" android:label="@string/dummyLabel" />
  <attribution android:tag="f250" android:label="@string/dummyLabel" />
  <attribution android:tag="f251" android:label="@string/dummyLabel" />
  <attribution android:tag="f252" android:label="@string/dummyLabel" />
  <attribution android:tag="f253" android:label="@string/dummyLabel" />
  <attribution android:tag="f254" android:label="@string/dummyLabel" />
  <attribution android:tag="f255" android:label="@string/dummyLabel" />
  <attribution android:tag="f256" android:label="@string/dummyLabel" />
  <attribution android:tag="f257" android:label="@string/dummyLabel" />
  <attribution android:tag="f258" android:label="@string/dummyLabel" />
  <attribution android:tag="f259" android:label="@string/dummyLabel" />
  <attribution android:tag="f260" android:label="@string/dummyLabel" />
  <attribution android:tag="f261" android:label="@string/dummyLabel" />
  <attribution android:tag="f262" android:label="@string/dummyLabel" />
  <attribution android:tag="f263" android:label="@string/dummyLabel" />
  <attribution android:tag="f264" android:label="@string/dummyLabel" />
  <attribution android:tag="f265" android:label="@string/dummyLabel" />
  <attribution android:tag="f266" android:label="@string/dummyLabel" />
  <attribution android:tag="f267" android:label="@string/dummyLabel" />
  <attribution android:tag="f268" android:label="@string/dummyLabel" />
  <attribution android:tag="f269" android:label="@string/dummyLabel" />
  <attribution android:tag="f270" android:label="@string/dummyLabel" />
  <attribution android:tag="f271" android:label="@string/dummyLabel" />
  <attribution android:tag="f272" android:label="@string/dummyLabel" />
  <attribution android:tag="f273" android:label="@string/dummyLabel" />
  <attribution android:tag="f274" android:label="@string/dummyLabel" />
  <attribution android:tag="f275" android:label="@string/dummyLabel" />
  <attribution android:tag="f276" android:label="@string/dummyLabel" />
  <attribution android:tag="f277" android:label="@string/dummyLabel" />
  <attribution android:tag="f278" android:label="@string/dummyLabel" />
  <attribution android:tag="f279" android:label="@string/dummyLabel" />
  <attribution android:tag="f280" android:label="@string/dummyLabel" />
  <attribution android:tag="f281" android:label="@string/dummyLabel" />
  <attribution android:tag="f282" android:label="@string/dummyLabel" />
  <attribution android:tag="f283" android:label="@string/dummyLabel" />
  <attribution android:tag="f284" android:label="@string/dummyLabel" />
  <attribution android:tag="f285" android:label="@string/dummyLabel" />
  <attribution android:tag="f286" android:label="@string/dummyLabel" />
  <attribution android:tag="f287" android:label="@string/dummyLabel" />
  <attribution android:tag="f288" android:label="@string/dummyLabel" />
  <attribution android:tag="f289" android:label="@string/dummyLabel" />
  <attribution android:tag="f290" android:label="@string/dummyLabel" />
  <attribution android:tag="f291" android:label="@string/dummyLabel" />
  <attribution android:tag="f292" android:label="@string/dummyLabel" />
  <attribution android:tag="f293" android:label="@string/dummyLabel" />
  <attribution android:tag="f294" android:label="@string/dummyLabel" />
  <attribution android:tag="f295" android:label="@string/dummyLabel" />
  <attribution android:tag="f296" android:label="@string/dummyLabel" />
  <attribution android:tag="f297" android:label="@string/dummyLabel" />
  <attribution android:tag="f298" android:label="@string/dummyLabel" />
  <attribution android:tag="f299" android:label="@string/dummyLabel" />
  <attribution android:tag="f300" android:label="@string/dummyLabel" />
  <attribution android:tag="f301" android:label="@string/dummyLabel" />
  <attribution android:tag="f302" android:label="@string/dummyLabel" />
  <attribution android:tag="f303" android:label="@string/dummyLabel" />
  <attribution android:tag="f304" android:label="@string/dummyLabel" />
  <attribution android:tag="f305" android:label="@string/dummyLabel" />
  <attribution android:tag="f306" android:label="@string/dummyLabel" />
  <attribution android:tag="f307" android:label="@string/dummyLabel" />
  <attribution android:tag="f308" android:label="@string/dummyLabel" />
  <attribution android:tag="f309" android:label="@string/dummyLabel" />
  <attribution android:tag="f310" android:label="@string/dummyLabel" />
  <attribution android:tag="f311" android:label="@string/dummyLabel" />
  <attribution android:tag="f312" android:label="@string/dummyLabel" />
  <attribution android:tag="f313" android:label="@string/dummyLabel" />
  <attribution android:tag="f314" android:label="@string/dummyLabel" />
  <attribution android:tag="f315" android:label="@string/dummyLabel" />
  <attribution android:tag="f316" android:label="@string/dummyLabel" />
  <attribution android:tag="f317" android:label="@string/dummyLabel" />
  <attribution android:tag="f318" android:label="@string/dummyLabel" />
  <attribution android:tag="f319" android:label="@string/dummyLabel" />
  <attribution android:tag="f320" android:label="@string/dummyLabel" />
  <attribution android:tag="f321" android:label="@string/dummyLabel" />
  <attribution android:tag="f322" android:label="@string/dummyLabel" />
  <attribution android:tag="f323" android:label="@string/dummyLabel" />
  <attribution android:tag="f324" android:label="@string/dummyLabel" />
  <attribution android:tag="f325" android:label="@string/dummyLabel" />
  <attribution android:tag="f326" android:label="@string/dummyLabel" />
  <attribution android:tag="f327" android:label="@string/dummyLabel" />
  <attribution android:tag="f328" android:label="@string/dummyLabel" />
  <attribution android:tag="f329" android:label="@string/dummyLabel" />
  <attribution android:tag="f330" android:label="@string/dummyLabel" />
  <attribution android:tag="f331" android:label="@string/dummyLabel" />
  <attribution android:tag="f332" android:label="@string/dummyLabel" />
  <attribution android:tag="f333" android:label="@string/dummyLabel" />
  <attribution android:tag="f334" android:label="@string/dummyLabel" />
  <attribution android:tag="f335" android:label="@string/dummyLabel" />
  <attribution android:tag="f336" android:label="@string/dummyLabel" />
  <attribution android:tag="f337" android:label="@string/dummyLabel" />
  <attribution android:tag="f338" android:label="@string/dummyLabel" />
  <attribution android:tag="f339" android:label="@string/dummyLabel" />
  <attribution android:tag="f340" android:label="@string/dummyLabel" />
  <attribution android:tag="f341" android:label="@string/dummyLabel" />
  <attribution android:tag="f342" android:label="@string/dummyLabel" />
  <attribution android:tag="f343" android:label="@string/dummyLabel" />
  <attribution android:tag="f344" android:label="@string/dummyLabel" />
  <attribution android:tag="f345" android:label="@string/dummyLabel" />
  <attribution android:tag="f346" android:label="@string/dummyLabel" />
  <attribution android:tag="f347" android:label="@string/dummyLabel" />
  <attribution android:tag="f348" android:label="@string/dummyLabel" />
  <attribution android:tag="f349" android:label="@string/dummyLabel" />
  <attribution android:tag="f350" android:label="@string/dummyLabel" />
  <attribution android:tag="f351" android:label="@string/dummyLabel" />
  <attribution android:tag="f352" android:label="@string/dummyLabel" />
  <attribution android:tag="f353" android:label="@string/dummyLabel" />
  <attribution android:tag="f354" android:label="@string/dummyLabel" />
  <attribution android:tag="f355" android:label="@string/dummyLabel" />
  <attribution android:tag="f356" android:label="@string/dummyLabel" />
  <attribution android:tag="f357" android:label="@string/dummyLabel" />
  <attribution android:tag="f358" android:label="@string/dummyLabel" />
  <attribution android:tag="f359" android:label="@string/dummyLabel" />
  <attribution android:tag="f360" android:label="@string/dummyLabel" />
  <attribution android:tag="f361" android:label="@string/dummyLabel" />
  <attribution android:tag="f362" android:label="@string/dummyLabel" />
  <attribution android:tag="f363" android:label="@string/dummyLabel" />
  <attribution android:tag="f364" android:label="@string/dummyLabel" />
  <attribution android:tag="f365" android:label="@string/dummyLabel" />
  <attribution android:tag="f366" android:label="@string/dummyLabel" />
  <attribution android:tag="f367" android:label="@string/dummyLabel" />
  <attribution android:tag="f368" android:label="@string/dummyLabel" />
  <attribution android:tag="f369" android:label="@string/dummyLabel" />
  <attribution android:tag="f370" android:label="@string/dummyLabel" />
  <attribution android:tag="f371" android:label="@string/dummyLabel" />
  <attribution android:tag="f372" android:label="@string/dummyLabel" />
  <attribution android:tag="f373" android:label="@string/dummyLabel" />
  <attribution android:tag="f374" android:label="@string/dummyLabel" />
  <attribution android:tag="f375" android:label="@string/dummyLabel" />
  <attribution android:tag="f376" android:label="@string/dummyLabel" />
  <attribution android:tag="f377" android:label="@string/dummyLabel" />
  <attribution android:tag="f378" android:label="@string/dummyLabel" />
  <attribution android:tag="f379" android:label="@string/dummyLabel" />
  <attribution android:tag="f380" android:label="@string/dummyLabel" />
  <attribution android:tag="f381" android:label="@string/dummyLabel" />
  <attribution android:tag="f382" android:label="@string/dummyLabel" />
  <attribution android:tag="f383" android:label="@string/dummyLabel" />
  <attribution android:tag="f384" android:label="@string/dummyLabel" />
  <attribution android:tag="f385" android:label="@string/dummyLabel" />
  <attribution android:tag="f386" android:label="@string/dummyLabel" />
  <attribution android:tag="f387" android:label="@string/dummyLabel" />
  <attribution android:tag="f388" android:label="@string/dummyLabel" />
  <attribution android:tag="f389" android:label="@string/dummyLabel" />
  <attribution android:tag="f390" android:label="@string/dummyLabel" />
  <attribution android:tag="f391" android:label="@string/dummyLabel" />
  <attribution android:tag="f392" android:label="@string/dummyLabel" />
  <attribution android:tag="f393" android:label="@string/dummyLabel" />
  <attribution android:tag="f394" android:label="@string/dummyLabel" />
  <attribution android:tag="f395" android:label="@string/dummyLabel" />
  <attribution android:tag="f396" android:label="@string/dummyLabel" />
  <attribution android:tag="f397" android:label="@string/dummyLabel" />
  <attribution android:tag="f398" android:label="@string/dummyLabel" />
  <attribution android:tag="f399" android:label="@string/dummyLabel" />

  <attribution android:tag="toomany" android:label="@string/dummyLabel" />

  <application />

</manifest>
