<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2017 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="android.server.cts.am">
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />

    <application android:label="CtsActivityManagerDeviceTestCases">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="android.server.am.AspectRatioTests$MaxAspectRatioActivity"
            android:label="MaxAspectRatioActivity"
            android:maxAspectRatio="1.0"
            android:resizeableActivity="false" />

        <activity
            android:name="android.server.am.AspectRatioTests$MetaDataMaxAspectRatioActivity"
            android:label="MetaDataMaxAspectRatioActivity"
            android:resizeableActivity="false">
            <meta-data
                android:name="android.max_aspect"
                android:value="1.0" />
        </activity>

        <activity
            android:name="android.server.am.AspectRatioTests$MaxAspectRatioResizeableActivity"
            android:label="MaxAspectRatioResizeableActivity"
            android:maxAspectRatio="1.0"
            android:resizeableActivity="true" />

        <activity
            android:name="android.server.am.AspectRatioTests$MaxAspectRatioUnsetActivity"
            android:label="MaxAspectRatioUnsetActivity"
            android:resizeableActivity="false" />

        <activity
            android:name="android.server.am.AspectRatioTests$MinAspectRatioActivity"
            android:label="MinAspectRatioActivity"
            android:minWidth="1dp"
            android:minAspectRatio="3.0"
            android:resizeableActivity="false" />

        <activity
            android:name="android.server.am.AspectRatioTests$MinAspectRatioResizeableActivity"
            android:label="MinAspectRatioResizeableActivity"
            android:minWidth="1dp"
            android:minAspectRatio="3.0"
            android:resizeableActivity="true" />

        <activity
            android:name="android.server.am.AspectRatioTests$MinAspectRatioUnsetActivity"
            android:label="MinAspectRatioUnsetActivity"
            android:resizeableActivity="false" />

        <activity
            android:name="android.server.am.AspectRatioTests$MinAspectRatioLandscapeActivity"
            android:label="MinAspectRatioLandscapeActivity"
            android:minWidth="1dp"
            android:minAspectRatio="3.0"
            android:resizeableActivity="false"
            android:screenOrientation="landscape" />

        <activity
            android:name="android.server.am.AspectRatioTests$MinAspectRatioPortraitActivity"
            android:label="MinAspectRatioPortraitActivity"
            android:minWidth="1dp"
            android:minAspectRatio="3.0"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity android:name="android.server.am.ActivityManagerTestBase$SideActivity"
                  android:resizeableActivity="true"
                  android:taskAffinity="nobody.but.SideActivity"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$FirstActivity" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$SecondActivity"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$ThirdActivity"/>

        <activity
                android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$TranslucentActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
                android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$SecondTranslucentActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$CallbackTrackingActivity"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$TranslucentCallbackTrackingActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$ShowWhenLockedCallbackTrackingActivity" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$SecondProcessCallbackTrackingActivity"
                  android:process=":SecondProcess"
                  android:exported="true"/>

        <provider android:name="android.server.am.lifecycle.LifecycleLog"
                  android:authorities="android.server.am.lifecycle.logprovider"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$LaunchForResultActivity"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$ResultActivity"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$NoDisplayActivity"
                  android:theme="@android:style/Theme.NoDisplay" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$SingleTopActivity"
                  android:launchMode="singleTop" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$ConfigChangeHandlingActivity"
                  android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density" />

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$PipActivity"
                  android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
                  android:supportsPictureInPicture="true"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$AlwaysFocusablePipActivity"
                  android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
                  android:resizeableActivity="false"
                  android:supportsPictureInPicture="true"
                  androidprv:alwaysFocusable="true"
                  android:exported="true"/>

        <activity android:name="android.server.am.lifecycle.ActivityLifecycleClientTestBase$SlowActivity"/>

        <activity android:name="android.server.am.StartActivityTests$TestActivity2" />

        <activity android:name="android.server.am.ActivityManagerMultiDisplayTests$ImeTestActivity" />
        <activity android:name="android.server.am.ActivityManagerMultiDisplayTests$ImeTestActivity2" />
        <activity android:name="android.server.am.ActivityManagerMultiDisplayTests$ImeTestActivityWithBrokenContextWrapper" />

        <activity android:name="android.server.am.KeyguardLockedTests$ShowWhenLockedImeActivity" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$StandardActivity"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$SecondStandardActivity"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$StandardWithSingleTopActivity"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$SingleTopActivity"
                  android:launchMode="singleTop"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$SingleInstanceActivity"
                  android:launchMode="singleInstance"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$SingleTaskActivity"
                  android:launchMode="singleTask"
                  android:exported="true" />

        <activity android:name="android.server.am.lifecycle.ActivityStarterTests$TestLaunchingActivity"
                  android:taskAffinity="nobody.but.LaunchingActivity"
                  android:exported="true" />

        <activity android:name="android.server.am.ActivityViewTest$ActivityViewTestActivity"
                  android:exported="true"/>

        <provider
            android:name="android.server.am.TestJournalProvider"
            android:authorities="android.server.am.testjournalprovider"
            android:exported="true" />

        <!--intent tests-->
        <activity android:name="android.server.am.intent.Activities$RegularActivity"/>
        <activity
            android:name="android.server.am.intent.Activities$SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name="android.server.am.intent.Activities$SingleInstanceActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name="android.server.am.intent.Activities$SingleInstanceActivity2"
            android:launchMode="singleInstance"
            android:taskAffinity=".t1"
        />
        <activity
            android:name="android.server.am.intent.Activities$SingleTaskActivity"
            android:launchMode="singleTask"
        />
        <activity
            android:name="android.server.am.intent.Activities$SingleTaskActivity2"
            android:launchMode="singleTask"
            android:taskAffinity=".t1"
        />
        <activity
            android:name="android.server.am.intent.Activities$TaskAffinity1Activity"
            android:allowTaskReparenting="true"
            android:launchMode="standard"
            android:taskAffinity=".t1"/>
        <activity
            android:name="android.server.am.intent.Activities$TaskAffinity1Activity2"
            android:allowTaskReparenting="true"
            android:launchMode="standard"
            android:taskAffinity=".t1"/>
        <activity
            android:name="android.server.am.intent.Activities$TaskAffinity2Activity"
            android:allowTaskReparenting="true"
            android:launchMode="standard"
            android:taskAffinity=".t2"/>
        <activity
            android:name="android.server.am.intent.Activities$TaskAffinity3Activity"
            android:allowTaskReparenting="true"
            android:launchMode="standard"
            android:taskAffinity=".t3"/>
        <activity
            android:name="android.server.am.intent.Activities$ClearTaskOnLaunchActivity"
            android:allowTaskReparenting="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="standard"
            android:taskAffinity=".t2"/>
        <activity
            android:name="android.server.am.intent.Activities$DocumentLaunchIntoActivity"
            android:documentLaunchMode="intoExisting"/>
        <activity
            android:name="android.server.am.intent.Activities$DocumentLaunchAlwaysActivity"
            android:documentLaunchMode="always"/>
        <activity
            android:name="android.server.am.intent.Activities$DocumentLaunchNeverActivity"
            android:documentLaunchMode="never"/>
        <activity
            android:name="android.server.am.intent.Activities$NoHistoryActivity"
            android:noHistory="true"/>
        <activity
            android:name="android.server.am.intent.Activities$LauncherActivity"
            android:documentLaunchMode="always"
            android:launchMode="singleInstance">
        </activity>


    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:label="CTS tests of ActivityManager"
        android:targetPackage="android.server.cts.am" />

</manifest>
